---
import type { Lang } from '../../i18n/ui';
import { useTranslations } from '../../i18n/utils';

import ContactCTA from '../ContactCTA.astro';
import Hero from '../Hero.astro';

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="stack gap-20">
  <main class="wrapper about">
    <Hero
      title={t('about.hero.title')}
      tagline={t('about.hero.tagline')}
    >
      <img
        width="1553"
        height="873"
        src="/assets/pixelart.webp"
        alt="Rodrigo Camino Pixel art"
      />
    </Hero>

    <section>
      <h2 class="section-title">{t('about.background.heading')}</h2>
      <div class="content">
        <p>
          {t('about.background.p1')}
          <br /><br />
          <p>{t('about.background.p2')}</p>
        </p>
      </div>
    </section>
    <section>
      <h2 class="section-title">{t('about.education.heading')}</h2>
      <div class="content">
        <p>{t('about.education.item1')}</p>
        <p>{t('about.education.item2')}</p>
        <p>{t('about.education.item3')}</p>
        <p>{t('about.education.item4')}</p>
      </div>
    </section>
    <section>
      <h2 class="section-title">{t('about.skills.heading')}</h2>
      <div class="content">
        <ul>
          <li>{t('about.skills.item1')}</li>
          <li>{t('about.skills.item2')}</li>
          <li>{t('about.skills.item3')}</li>
          <li>{t('about.skills.item4')}</li>
          <li>{t('about.skills.item5')}</li>
        </ul>
      </div>
    </section>
  </main>

  <ContactCTA lang={lang} />
</div>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
